body {
    font-family: sans-serif;
    font-size: 12px;
}

a {
    text-decoration: none;
    color: #176092;
}

a span.hi {
    background-color: #ff9;
}

input {
    border: 1px solid #ccc;
}

ul {
    list-style-type: none;
    padding-left: 0;
}

ul ul {
    padding-left: 20px;
}

ul li {
    line-height: 16px;

}

img.ico {
    padding-right: 3px;
    vertical-align: bottom;
}

img.folder {
    cursor: pointer;
}

img.clear {
    margin-left: -18px;
    cursor: pointer;
}